<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/designHomePage.css">
    <title>Home Page</title>
</head>

<body>
    <div class="topnav">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/create-user-page">News</a></li>
    </div>
    <div class="list-user">
        <h2>List user</h2>
        <p>Move the mouse over the table rows to see the effect.</p>
        <table>
            <tr>
                <th>Mã Nhân Viên</th>
                <th>Họ tên</th>
                <th>Địa Chỉ</th>
                <th>Số Điện thoại</th>
                <th>Action</th>
            </tr>

            <% listUssers.forEach(function(user) {%>
                <tr>
                    <td><%= user.maNV%></td>
                    <td><%= user.hoTen%></td>
                    <td><%= user.diaChi%></td>
                    <td><%= user.sdt%></td>
                    <td>
                        <a href="/update/<%= user.maNV%>">Edit</a>
                        <a href="/delete-user/<%= user.maNV%>">Delete</a>
                    </td>
                </tr>

                <% })%>

        </table>
    </div>
    <div class="adnew">
        <button>Add new user</button>
    </div>
</body>

</html>